
header {
    background: #070d3b;
    color: #f0f1ff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    
}
.logoimage {
    font-size: 25px;
    color: #fff;
    text-decoration: none;


}
.nav { 
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.carousel {
    width: 115%;
    position: relative;
    overflow: hidden;
    height: auto;
    align-items: center;
}

.carousel2 {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-left: auto; 
    margin-right: auto; 

}

.slide {
    display: none;

}

.slide img {
    width: 90%;
    background-color: rgba(0, 0, 0, 0.5);
    height: auto;
    align-items: center;

}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.custom-title {
    color: #000000; 
    font-size: 36px; 
    font-weight: bold; 
}

.custom-description {
    color: #000000; 
    font-size: 18px; 
    margin-top: 20px; 
}

.custom-link {
    color: #000000; 
    font-size: 18px; 
    margin-top: 20px; 
    font-weight: bold; 
}

@media (min-width: 1500px) {
    .custom-col {
        max-width: 100%; /* Define a largura máxima da coluna */
    }
}

/* Nova classe para ajustar o tamanho do container */
.adjustable-container {
    max-width: 10000px; 
    margin-left: auto; 
    margin-right: auto; 
    padding: 20px; 
    background: #f0f1ff;
    text-align: justify;
}

.full-width-image {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-left: auto; 
    margin-right: auto; 
}
.footer {
    background-color: #070d3b;
    color: #f0f1ff;
    padding: 20px 0;
    text-align: center;
}

.gradient-text {
    background: linear-gradient(to right, #1a471a 35%, #f20202 60%, #a89d00 40%); /* Define o degradê de três cores com sobreposição */
    -webkit-background-clip: text; /* Aplica o degradê ao texto */
    color: transparent; /* Torna o texto transparente para que o degradê seja visível */
}
